<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/@fontsource/fira-sans@^4/400.css">
        <link rel="stylesheet" href="https://unpkg.com/@fontsource/fira-sans@^4/500.css">
        <link rel="stylesheet" href="https://unpkg.com/@steffo/bluelib@^4/dist/skeleton.root.css">
        <link rel="stylesheet" href="https://unpkg.com/@steffo/bluelib@^4/dist/royalblue.root.css">
        <style>
            body {
                --bluelib-title-family: "Fira Sans", sans-serif;
                --bluelib-title-weight: 500;
                --bluelib-text-family: "Fira Sans", sans-serif;
                --bluelib-text-weight: 400;
                --bluelib-code-family: monospace;
                --bluelib-code-weight: 400;
            }
        </style>
        <title>Impressive Strawberry</title>
    </head>
    <body>
        <h1>
            Impressive Strawberry
        </h1>
        <h2>
            Achievements-as-a-service
        </h2>
        <div class="layout layout-threecol">
            <aside class="layout-threecol-left">

            </aside>
            <main class="main layout-threecol-center">
                <section class="chapter">
                    <section class="panel panel-box">
                        <h3>
                            What is this website?
                        </h3>
                        <p>
                            This website allows you to create, track and award achievements to the users of your application.
                        </p>
                    </section>
                    <section class="panel panel-box">
                        <h3>
                            Contact the developers
                        </h3>
                        <p>
                            To contact the developers of Impressive Strawberry, please visit the
                            <a href="https://github.com/RYGhub/impressive-strawberry/">GitHub repository</a>:
                        </p>
                        <ul>
                            <li>
                                if you encountered a bug, please <a href="https://github.com/RYGhub/impressive-strawberry/issues">open a new issue</a>;
                            </li>
                            <li>
                                if you want to talk about the project or just want to ask a question,
                                <a href="https://github.com/RYGhub/impressive-strawberry/discussions">create a new discussion</a>;
                            </li>
                            <li>
                                if you want to contribute to the project, please
                                <a href="https://github.com/RYGhub/impressive-strawberry/pulls">open a new pull request</a>!
                            </li>
                        </ul>
                    </section>
                </section>
                <section class="panel panel-box">
                    <h3>
                        Check out the documentation
                    </h3>
                    <p>
                        The documentation is available in three formats:
                    </p>
                    <ul>
                        <li>
                            <a href="docs/">Swagger UI</a>
                        </li>
                        <li>
                            <a href="redoc/">Redoc</a>
                        </li>
                        <li>
                            <a href="openapi.json">OpenAPI.json</a>
                        </li>
                    </ul>
                    <p>
                        Check it out!
                    </p>
                </section>
            </main>
            <aside class="layout-threecol-right">

            </aside>
        </div>
        <footer class="align-center">
            <p>
                © 2021 - <a href="https://steffo.eu">Stefano Pigozzi</a> & <a href="https://fermitech.info">Lorenzo Balugani</a>
            </p>
            <p>
                Developed <a href="https://github.com/RYGhub">by RYG</a>, <a href="https://ryg.one">for RYG</a>
            </p>
            <p>
                Based (and <span class="color-red">redpilled</span>) on Gestione 2.00 Iceberg, <a href="https://fastapi.tiangolo.com/">FastAPI</a> and
                <a href="https://github.com/RYGhub/bluelib">Bluelib</a>
            </p>
        </footer>
    </body>
</html>